<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <!--  开启了延迟加载 -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--  关闭了立即加载 -->
        <setting name="aggressiveLazyLoading" value="false"/>
        <!-- 声明触发延迟加载的方法  -->
        <setting name="lazyLoadTriggerMethods" value=""/>
    </settings>
    <typeAliases>
        <!--描扫包时使用类名作为别名-->
        <package name="com.ujiuye.crmpro.*.pojo"/>
    </typeAliases>

    <!-- 配置分页插件 -->
    <plugins>
        <!-- com.github.pagehelper为PageHelper类所在包名 -->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!-- 使用下面的方式配置参数，后面会有所有的参数介绍 -->
            <property name="param1" value="value1"/>
        </plugin>
    </plugins>

    <mappers>
        <package name="com.ujiuye.crmpro.*.mapper"/>
    </mappers>
</configuration>